<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://srtesteventdriven.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0f629d89-46bc-474b-941a-c7140441a426/resourceGroups/insight2profit/providers/Microsoft.Web/sites/srtesteventdriven</ResourceId>
    <UserName>$srtesteventdriven</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://srtesteventdriven.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>